body {
    /* 水平方向不会出现水平条 */
    overflow-x: hidden;
    /* 点击不会高亮 */
    -webkit-tap-highlight-color: transparent;
    max-width: 540px;
    /* 一般移动布局最小宽度不会小于320px */
    min-width: 320px;
    margin: 0 auto;
    font: 400 16px/1.5 PingFangSC-regular,Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
}

/* 搜索模块 */
.search-index {
    display: flex;
    /* 固定定位跟父级没有关系，它以屏幕为准 */
    position: fixed;
    top: 0;
    left: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* 固定的盒子应该有宽度 */
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    background-color: pink;
    padding-left: 12px;
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

.search {
    flex: 1;
    height: 28px;
    line-height: 28px;
    border: 1px solid red;
    margin: 7px;
    border-radius: 15px;
    position: relative;
    padding-left: 37px;
    font-size: 15px;
    color: #666;
}

.search::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 14px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat 0 0;
    background-size: 21px auto;
}

.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding-right: 4px;
}

.user::before {
    content: "";
    width: 22px;
    height: 22px;
    display: block;
    background: url('../images/sprite.png') no-repeat 0 -36px;
    background-size: 21px auto;
    margin: 4px auto 0;
}
